# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*
!.env.example

# IDE, Editor
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.sqlite3

# Alembic
alembic/versions/__pycache__/

# Build, Distribution
build/
dist/
*.egg-info/

# Test, Cache
.pytest_cache/
.mypy_cache/

# Secrets, Keys
*.pem
*.key