version: "3.8"

services:
  app:
    build: .
    ports:
      - "18080:8080"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: mysql:8.0
    ports:
      - "13306:3306"
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:7

volumes:
  db_data: